.header {
  width: 100%;
  &-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
    &.logged-header {
      justify-content: space-between;
      padding: 12px 150px;
    }

    .title {
      font-size: 50px;
      color: green;
    }
    .MuiLink-button {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding-right: 18%;
      font-size: 22px;
      color: green;
      padding-bottom: 7px;
    }
    .menu {
      display: flex;
      gap: 50px;
    }
  }
}
